body {
    background-image: url('metro.png');
    background-size: cover;
    height: 100vh;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    max-width: 1200px;
    min-width: 360px;
    min-height: 640px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #0080A6;
    color: #000;
    border: black solid 3px;
    border-radius: 10px;
}

#save-btn {
    background: #347534;
    color: #000;
    border: black solid 3px;
    border-radius: 10px;

}

.container {
    max-width: 80%;
    margin: auto;
    align-content: center;
    justify-content: center;
}